@model StudentAppCore.Core.Models.RegisterDetails
@{
    
}

<style>
    #required::after {
        content: "*";
        color: red;
    }

    .error {
        color: red;
    }
</style>

<body>
    <h1>Sign in page</h1>
    @using (Html.BeginForm("Login", "Student", FormMethod.Post, new { id = "myForm" }))
    {
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                    <div class="form-outline form-white mb-4">
                                        <span id="required">
                                            @Html.Label("User Name")
                                        </span>
                                        <span>
                                            @Html.TextBoxFor(m => m.RegisterName, new { @class = "form-outline mb-4", @id = "Name", @maxlength = 50 })
                                        </span>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <span id="required">
                                            @Html.Label("Password")
                                        </span>
                                        <span>
                                            @Html.PasswordFor(m => m.Password, new { id = "Pas", @maxlength = 15 })
                                        </span>
                                    </div>

                                    <div>
                                        <button onclick="Submit()" id="User" class="btn btn-info">Sign In</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <div>
        <button onclick="NewStudent()" id="User" class="btn btn-info">Sign Up</button>
    </div>

</body>

<script>

    function NewStudent() {
        window.location.href = "/Student/NewStudent";
    }

    $('#myForm').validate({
        rules: {
            RegisterName: {
                required: true,
                minlength: 1,
                maxlength: 15,


            }, Password: {
                required: true,
                minlength: 3,
                maxlength: 15,
            },
        },

        messages: {
            RegisterName: {
                required: "RegisterName is required",
                minlength: "RegisterName must contain at least {0} characters",
                maxlength: "RegisterName no more than {0} characters",

            }, Password: {
                required: "Password is required",
                minlength: "Password must contain at least {0} characters",
                maxlength: "Password no more than {0} characters",

            },
        }
    });

</script>